<section class="w-50 mx-auto bg-warning my-5">
  <div class="container">
    <h1 class="text-center fs-3 py-3">To-do-List Application</h1>
    <hr />

    <form [formGroup]="taskForm" (ngSubmit)="handleForm()">
      <div class="mb-3">
        <label for="task" class="form-label">Task</label>
        <input
          type="text"
          class="form-control"
          id="task"
          placeholder="Enter Task"
          required=""
          formControlName="taskName"
        />

        <div
          *ngIf="taskForm.invalid && taskForm.dirty"
          id="errmsg"
          class="form-text text-danger"
        >
          required field
        </div>
      </div>

      <button
        type="submit"
        class="btn btn-primary mt-3"
        [disabled]="taskForm.invalid"
      >
        Submit
      </button>
    </form>

    <hr />
    <table class="table text-center">
      <thead>
        <tr>
          <th scope="col">Task</th>
          <th scope="col">Completed</th>
          <th scope="col">Delete</th>
        </tr>
        <tr *ngFor="let t of taskArray; index as i">
          <td>{{ t.taskName }}</td>
          <td scope="col">
            <input (click)="onclick(i)" type="checkbox" id="mycheckbox" />

  
          </td>
          <td scope="col">
            <button class="btn btn-danger" (click)="onDelete(i)">Delete</button>
          </td>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</section>
